*{
    margin: 3px;
}
/* Body secetion */
body{
    /* background-color: #1abc9c; */
    background-image: url('C:/Users/DigitechPC/Documents/HTMLPics/pexels-fwstudio-129731.jpg');
    height:100vh;
    font-family: sans-serif;
    overflow: hidden;
}

/* section tag */
section {
    display:flex;
    justify-content: center;
    align-items: center;
    height:80vh;  
}

h1{
    padding-top: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#cf2323;
    margin-top: 50px;
    font-size: 40px;
}

.time{
    padding-bottom: 5rem;
}

/* Numbers */
.digit{
    font-size: 150px;
    font-weight: bold;
}

/* Clock texts */
.txt{
    font-size:40px;
    font-weight: bold;
}

/* Button */
#btn-container{
    padding-bottom: 30px;
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: #e74c3c;
}
#stop{
    background-color: #e74c3c;
}
#reset{
    background-color: #e74c3c;
}
